/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:regular&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Color ==========*/
  --first-color: #163A24;
  --first-color-light: #198C36;
  --first-color-alt: #FAB5A0;
  --first-color-gray: #FBFAF7;
  --body-color: #fff;
  --body-color-alt: #163A24;
  --body-color-light: #F2EFE6;
  --text-color: #163A24;
  --text-color-alt: #198C36;
  --text-color-light: #FBFAF7;

  /*========== Font and typography ==========*/
  --body-font: 'Noto Sans', sans-serif;
  --second-font: 'Rowdies', sans-serif;
  --h2-font-size: 3rem;
  --h3-font-size: 1.75rem;
  --normal-font-size: 1.125rem;
  --small-font-size: 1rem;
  --smaller-font-size: .875rem;

  /*========== Font weight ==========*/
  --font-semibold: 600;
  --font-medium: 400;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3 {
    color: var(--text-color);
    font-weight: var(--font-semibold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color-light);
}

img {
    max-width: 100%;
    height: auto;
}

/* ===============-REUSABLE CSSS CLASSES-=========================== */
.container {
    max-width: 1124px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.section {
    padding: 1.5rem 0rem 2rem;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.grid {
    display: grid;
}
.button {
    display: inline-block;
    border-radius: 2rem;
    background-color: var(--first-color-light);
    padding: 15px 25px;
}
.button:hover {
    background-color: var(--first-color-alt);
    color: var(--text-color);
    font-weight: var(--font-semibold);
    transition: all .3s ease;
}
.title {
    font-family: var(--second-font);
    font-size: var(--h2-font-size);
    font-weight: var(--font-semibold);
}
/* ===============-HEADER-=========================== */
.header {
    background-color: var(--body-color-alt);
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 1rem;
}
.nav__buttons-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
/* ===============-HOME-=========================== */
.home {
    background-color: var(--first-color);
    color: var(--text-color-light);
}
.home__container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.home__title {
    color: var(--text-color-light);
    line-height: 1.5;
    margin-bottom: 18px;
}
.home__description {
    max-width: 475px;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 1.3;
}
/* ===============-MEDIA QUERIES-=========================== */
@media (max-width: 676px) {
    .hide {
        display: none;
    }
    .nav__logo img {
        width: 6rem;
    }
}